* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.heading-style {
    font-size:60px;
    width: 20em;
    padding: 10px;
    border: 20px solid black;
    margin: 15px 20px 30px 40px;
    outline: 3px solid red;
    outline-offset: -15px;
    text-align: center;
    text-shadow: 2px 2px blueviolet;
}
.heading2-style {
text-align:center;
}

.paragraph-style{
    color:black;
}
.div-style{
    display: flex; justify-content: center; 
}

.iframe-style{
    width: 400
     height= 350
    }

.video-style{
width: 250

}
.attributes-style{
    background-image: url(http://4.bp.blogspot.com/-Uk_KFP52APE/URd2jbxosPI/AAAAAAAAKwo/dPSSk-YE4MQ/s1600/plain+blue+cool+hd+images.jpg);
    background-repeat: no-repeat;
    background-position: right;
    font-family: cursive;
    font-weight: 200;
     font-family: "Sofia", sans-serif;
  font-size: 30px;
}

.dotted{border-style:dotted;
border-color: red black ;
vertical-align: text-bottom;
}


